/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
/*@import url("nanumsquare.css");font-family:'NanumSquare';*/

/* Default Style */
html, body { width:100%; height:100%; line-height:1.4; }
html { overflow-y:scroll; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button { margin:0; padding:0; box-sizing:border-box; }
body, h1, h2, h3, h4, input, select, button, textarea { font-family:'Noto Sans KR', 'Malgun Gothic', '돋움', Dotum, Sans-serif; font-weight:500; font-size:15px; color:#222; font-style:normal; word-break:keep-all; box-sizing:border-box; }
body { *word-break:break-all; -ms-word-break:break-all; }
img, fieldset, iframe { border:0 none; }
li { list-style:none; }
input, select, button { vertical-align:middle; }
img { vertical-align:top; }
i, em, address { font-style:normal; }
label, button { cursor:pointer; }
button { margin:0; padding:0; }
a { text-decoration:none; color:#222; }
a:hover { text-decoration:none; }
button * { position:relative; }
button img { left:-3px; *left:auto; }
option { padding-right:6px; }
hr, caption { display:none; }
legend { *width:0 ;}
table {/* border-collapse:collapse;table-layout:fixed; */ border-collapse:collapse; border-spacing:0; }
textarea { resize:none; }
input[type=checkbox] { margin:0 3px 0 0; padding:0; *margin:-3px 0 0 -3px; vertical-align:middle; *vertical-align:-3px; }
input[type=radio] { margin:0 3px 0 0; padding:0; *margin:-3px 0 0 -3px; vertical-align:middle; *vertical-align:-3px; }
textarea { resize:none; }
input[type="text"], input[type="email"], select, textarea { border:1px solid #cfcfcf; }

@media screen and (max-width: 768px) {
    body, h1, h2, h3, h4, input, select, button, textarea { font-size:13px; }
}

/* Font Class Style */
.b { font-weight:bold !important; }
.u { text-decoration:underline !important; }

/* align */
.tl { text-align:left !important; }
.tc { text-align:center !important; }
.tr { text-align:right !important; }
.vt { vertical-align:top !important; }
.vm { vertical-align:middle !important; }
.vb { vertical-align:text-bottom !important; }

/* float */
.fl { float:left !important; }
.fr { float:right !important; }
.cb { clear:both !important; }

/* overflow */
.over-h { overflow:hidden !important; }
.over-s { overflow:auto !important; }
.over-sx { overflow:hidden !important; overflow-x:auto !important; }
.over-sy { overflow:hidden !important; overflow-y:auto !important; }

/* Margin Set */
.ml0 { margin-left:0px !important; }
.ml1 { margin-left:1px !important; }
.ml2 { margin-left:2px !important; }
.ml3 { margin-left:3px !important; }
.ml4 { margin-left:4px !important; }
.ml5 { margin-left:5px !important; }
.ml6 { margin-left:6px !important; }
.ml7 { margin-left:7px !important; }
.ml8 { margin-left:8px !important; }
.ml9 { margin-left:9px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml55 { margin-left:55px !important; }
.ml60 { margin-left:60px !important; }
.ml65 { margin-left:65px !important; }
.ml70 { margin-left:70px !important; }
.ml75 { margin-left:75px !important; }
.ml80 { margin-left:80px !important; }
.ml85 { margin-left:85px !important; }
.ml90 { margin-left:90px !important; }
.ml95 { margin-left:95px !important; }
.ml100 { margin-left:100px !important; }

.mr0 { margin-right:0px !important; }
.mr1 { margin-right:1px !important; }
.mr2 { margin-right:2px !important; }
.mr3 { margin-right:3px !important; }
.mr4 { margin-right:4px !important; }
.mr5 { margin-right:5px !important; }
.mr6 { margin-right:6px !important; }
.mr7 { margin-right:7px !important; }
.mr8 { margin-right:8px !important; }
.mr9 { margin-right:9px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }
.mr55 { margin-right:55px !important; }
.mr60 { margin-right:60px !important; }
.mr65 { margin-right:65px !important; }
.mr70 { margin-right:70px !important; }
.mr75 { margin-right:75px !important; }
.mr80 { margin-right:80px !important; }
.mr85 { margin-right:85px !important; }
.mr90 { margin-right:90px !important; }
.mr95 { margin-right:95px !important; }
.mr100 { margin-right:100px !important; }

.mb0 { margin-bottom:0px !important; }
.mb1 { margin-bottom:1px !important; }
.mb2 { margin-bottom:2px !important; }
.mb3 { margin-bottom:3px !important; }
.mb4 { margin-bottom:4px !important; }
.mb5 { margin-bottom:5px !important; }
.mb6 { margin-bottom:6px !important; }
.mb7 { margin-bottom:7px !important; }
.mb8 { margin-bottom:8px !important; }
.mb9 { margin-bottom:9px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb55 { margin-bottom:55px !important; }
.mb60 { margin-bottom:60px !important; }
.mb65 { margin-bottom:65px !important; }
.mb70 { margin-bottom:70px !important; }
.mb75 { margin-bottom:75px !important; }
.mb80 { margin-bottom:80px !important; }
.mb85 { margin-bottom:85px !important; }
.mb90 { margin-bottom:90px !important; }
.mb95 { margin-bottom:95px !important; }
.mb100 { margin-bottom:100px !important; }

.mt0 { margin-top:0px !important; }
.mt1 { margin-top:1px !important; }
.mt2 { margin-top:2px !important; }
.mt3 { margin-top:3px !important; }
.mt4 { margin-top:4px !important; }
.mt5 { margin-top:5px !important; }
.mt6 { margin-top:6px !important; }
.mt7 { margin-top:7px !important; }
.mt8 { margin-top:8px !important; }
.mt9 { margin-top:9px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 { margin-top:55px !important; }
.mt60 { margin-top:60px !important; }
.mt65 { margin-top:65px !important; }
.mt70 { margin-top:70px !important; }
.mt75 { margin-top:75px !important; }
.mt80 { margin-top:80px !important; }
.mt85 { margin-top:85px !important; }
.mt90 { margin-top:90px !important; }
.mt95 { margin-top:95px !important; }
.mt100 { margin-top:100px !important; }

/* Padding Set */
.pl5 { padding-left:5px !important; }
.pl10 { padding-left:10px !important; }
.pl15 { padding-left:15px !important; }
.pl20 { padding-left:20px !important; }
.pl25 { padding-left:25px !important; }
.pl30 { padding-left:30px !important; }
.pl35 { padding-left:35px !important; }
.pl40 { padding-left:40px !important; }
.pl45 { padding-left:45px !important; }
.pl50 { padding-left:50px !important; }
.pl55 { padding-left:55px !important; }
.pl60 { padding-left:60px !important; }
.pl65 { padding-left:65px !important; }
.pl70 { padding-left:70px !important; }
.pl75 { padding-left:75px !important; }
.pl80 { padding-left:80px !important; }
.pl85 { padding-left:85px !important; }
.pl90 { padding-left:90px !important; }
.pl95 { padding-left:95px !important; }
.pl100 { padding-left:100px !important; }

.pr5 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr25 { padding-right:25px !important; }
.pr30 { padding-right:30px !important; }
.pr35 { padding-right:35px !important; }
.pr40 { padding-right:40px !important; }
.pr45 { padding-right:45px !important; }
.pr50 { padding-right:50px !important; }
.pr55 { padding-right:55px !important; }
.pr60 { padding-right:60px !important; }
.pr65 { padding-right:65px !important; }
.pr70 { padding-right:70px !important; }
.pr75 { padding-right:75px !important; }
.pr80 { padding-right:80px !important; }
.pr85 { padding-right:85px !important; }
.pr90 { padding-right:90px !important; }
.pr95 { padding-right:95px !important; }
.pr100 { padding-right:100px !important; }

.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px !important; }
.pb35 { padding-bottom:35px !important; }
.pb40 { padding-bottom:40px !important; }
.pb45 { padding-bottom:45px !important; }
.pb50 { padding-bottom:50px !important; }
.pb55 { padding-bottom:55px !important; }
.pb60 { padding-bottom:60px !important; }
.pb65 { padding-bottom:65px !important; }
.pb70 { padding-bottom:70px !important; }
.pb75 { padding-bottom:75px !important; }
.pb80 { padding-bottom:80px !important; }
.pb85 { padding-bottom:85px !important; }
.pb90 { padding-bottom:90px !important; }
.pb95 { padding-bottom:95px !important; }
.pb100 { padding-bottom:100px !important; }

.pt0 { padding-top:0px !important; }
.pt5 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }
.pt35 { padding-top:35px !important; }
.pt40 { padding-top:40px !important; }
.pt45 { padding-top:45px !important; }
.pt50 { padding-top:50px !important; }
.pt55 { padding-top:55px !important; }
.pt60 { padding-top:60px !important; }
.pt65 { padding-top:65px !important; }
.pt70 { padding-top:70px !important; }
.pt75 { padding-top:75px !important; }
.pt80 { padding-top:80px !important; }
.pt85 { padding-top:85px !important; }
.pt90 { padding-top:90px !important; }
.pt95 { padding-top:95px !important; }
.pt100 { padding-top:100px !important; }

.p5 { padding:5px !important; }
.p10 { padding:10px !important; }
.p15 { padding:15px !important; }
.p20 { padding:20px !important; }
.p25 { padding:25px !important; }
.p30 { padding:30px !important; }
.p35 { padding:35px !important; }
.p40 { padding:40px !important; }
.p45 { padding:45px !important; }
.p50 { padding:50px !important; }

.wid50 { width:50% !important; }
.zi10 { z-index:10 !important; }
.hide { display:none !important; }
.hidden { visibility:hidden !important; height:1px; }
